.form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-content {
  color: red;
  font-weight: bold;
  padding-top: 5px;
}

.new-password {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  background-color: #DDD;
  padding: 0 10px;
  border-radius: 10px;
}

.password-note {
  padding-top: 20px;
  font-style: italic;
}

.reset-button {
  width: 50%;
}

.reset-content {
  padding-bottom: 20px;
}