.profileMain {
  width: 50%;
  padding-top: 24px;
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.passwordStatus {
  min-height: 30px;
  padding-top: 4px;
}

.pass {
  color: green;
}

.fail {
  color: red;
}
