.Layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  width: 100vw;
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  flex: 1;
  padding: 24px 90px 24px 90px;
  min-height: 80vh;
}

.white {
  background-color: #fff;
}
