.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #48c0ea;
  align-items: center;
  min-height: 100px;
}

.navbar-logo {
  height: 46px;
  margin-left: 68px;
}

.profile {
  display: flex;
  align-items: center;
  margin: 0 68px;
}

.username {
  height: auto;
  margin-right: 15px;
}

.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
