.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #1198fb;
  align-items: center;
  min-height: 100px;
}

.navbar-logo {
  height: 34px;
  margin-left: 90px;
}

.profile {
  display: flex;
  align-items: center;
  margin: 0 90px;
}

.username {
  height: auto;
  margin-right: 15px;
  color: white;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: purple;
  border: 2px;
  border-style: solid;
  border-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logout {
  color: #D51E26;
}

.logout:hover{
  color: #C32229;
}
