.AvatarColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.status {
  padding-bottom: 2px;
  width: 60%;
  color: white;
  border-radius: 30px;
  text-align: center;
}

.active {
  background-color: #63BC51;
}

.inactive {
  background-color: #C4C4C4;
}

.inactiveText {
  color: #C4C4C4;
}

.inactiveText:hover {
  color: #BBBBBB;
}