code {
  font-family: "IBM Plex Mono", monospace;
}

h1 {
  font-family: "Varta", sans-serif;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 24px;
}

h2 {
  font-family: "Varta", sans-serif;
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-family: "Varta", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

body {
  font-family: "Varta", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
